
<div class="user-page find-idpw">
    <h1 class="title-h1">90일 경과 비밀번호 변경하기</h1>
    <p class="user-page-info">
        개인정보 보호를 위해, 비밀번호 변경 후<br />
        90일이 지난 후에는 비밀번호 재설정을 권장합니다.<br />
        <em>[연장하기]</em> 버튼을 누르시면 기존 비밀번호로 유지됩니다
    </p>
    <h3 class="form-title">기존 비밀번호</h3>
    <div class="form-line">
        <input type="password" class="form-basic" placeholder="기존 비밀번호" />
        <span class="feedback invalid" style="display: none;">유효성 메시지</span>
    </div>
    <h3 class="form-title">새 비밀번호</h3>
    <div class="form-line">
        <input type="password" class="form-basic" placeholder="8~16자 이내 영문, 숫자, 특수문자" />
        <span class="feedback invalid" style="display: none;">유효성 메시지</span>
    </div>
    <h3 class="form-title">새 비밀번호 재입력</h3>
    <div class="form-line">
        <input type="password" class="form-basic" placeholder="비밀번호를 다시 한번 입력하세요" />
        <span class="feedback invalid" style="display: none;">유효성 메시지</span>
    </div>
    <div class="link-wrap btn-wrap gap">
        <button type="button" class="btn btn-primary link-item">변경</button>
        <button type="button" class="btn btn-default link-item">연장</button>
    </div>
</div>

<script>
    // modal 호출 UI sample
    $(document).ready(function(){
        salesOnUI.inputPasswordUI();
    });
</script>