
<div class="user-page find-idpw">
    <h1 class="title-h1">아이디 찾기</h1>
    <div class="form-line mb-10">
        <input type="text" class="form-basic" placeholder="이름을 입력하세요" />
        <span class="feedback invalid" style="display: none;">유효성 메시지</span>
    </div>
    <div class="form-line mb-10">
        <div class="flex">
            <input type="text" class="form-basic" placeholder="휴대폰 번호를 입력하세요" />
            <button class="btn btn-black m-w-118">인증요청</button>
        </div>
        <span class="feedback invalid" style="display: none;">유효성 메시지</span>
    </div>
    <div class="form-line">
        <div class="flex">
            <input type="text" class="form-basic" placeholder="인증번호를 입력하세요" />
            <button class="btn btn-black m-w-118">인증완료</button>
        </div>
        <span class="feedback invalid" style="display: none;">유효성 메시지</span>
    </div>
    <div class="link-wrap">
        <button type="button" class="btn btn-primary confirm-btn">확인하기</button>
    </div>
</div>