<div class="user-page find-idpw">
    <h1 class="title-h1">비밀번호 찾기</h1>
    <img src="/static/content/image/common/img_find_pw.png" alt="비밀번호 찾기" class="find-img">
    <p class="sub-title">임시 비밀번호가 발송 되었습니다.</p>
    <div class="link-wrap">
        <a href="/login" class="btn btn-primary link-item w-half">로그인</a>
    </div>
</div>