<div class="sns-auth-page step2">
    <h1 class="title-h1">회원가입</h1>
    <p class="title-auth">SNS 인증</p>
    <form action="" class="sns-auth-form">
        <div class="sns-auth-input">
            <div class="form-line">
                <input type="text" class="form-basic" placeholder="이름을 입력하세요" />
                <span class="feedback invalid">유효성 메시지</span>
            </div>
            <div class="form-line">
                <div class="flex">
                    <input type="text" class="form-basic" placeholder="휴대폰 번호를 입력하세요" />
                    <button class="btn btn-black">인증요청</button>
                    <!-- 인증요청 클릭 후 카운트 될 때-> 재전송으로 변경 -->
                    <!-- <button class="btn btn-black">재전송</button> -->
                </div>
                <span class="feedback invalid">유효성 메시지</span>
            </div>
            <div class="form-line">
                <div class="flex">
                    <input type="text" class="form-basic" placeholder="인증번호를 입력하세요" />
                    <button class="btn btn-black">인증완료</button>
                </div>
                <!-- <span class="feedback invalid">유효성 메시지</span> -->
            </div>
        </div>
        <div class="btn-wrap gap">
            <button type="button" class="btn btn-default btn-cancel">취소</button>
            <button type="button" class="btn btn-primary btn-next">다음</button>
        </div>
    </form>
</div>