
<div class="user-page join">
    <form action="">
        <h1 class="title-h1">SNS 간편회원 가입</h1>
        <!-- // 기본정보 -->
        <div class="toggle-title active">
            <h2>기본정보<span><em>*</em>표시는 필수 입력사항입니다</span></h2>
            <button type="button" class="toggle-arr"></button>
        </div>
        <div class="toggle-content user-info-content">
            <!-- //이름 -->
            <h3 class="form-title accent">이름</h3>
            <div class="form-line">
                <input type="text" class="form-basic" readonly placeholder="이름" />
                <span class="feedback invalid" style="display:none;">유효성 메시지</span>
            </div>
            <!-- //휴대폰번호 -->
            <h3 class="form-title accent">휴대폰번호</h3>
            <div class="form-line">
                <div class="flex">
                    <input type="text" class="form-basic" placeholder="'-'제외 번호 입력" />
                    <button class="btn btn-black">인증요청</button>
                </div>
            </div>
            <!-- //이메일 -->
            <h3 class="form-title accent">이메일</h3>
            <div class="form-line">
                <input type="text" class="form-basic" placeholder="example@company.com" readonly />
                <span class="feedback invalid" style="display:none;">유효성 메시지</span>
            </div>
            <!-- //생년월일 -->
            <h3 class="form-title accent">생년월일</h3>
            <div class="select-wrap">
                <select class="input-select">
                    <option value="">미선택</option>
                    <option value="">셀렉트박스 옵션</option>
                </select>
                <select class="input-select">
                    <option value="">미선택</option>
                    <option value="">셀렉트박스 옵션</option>
                </select>
                <select class="input-select">
                    <option value="">미선택</option>
                    <option value="">셀렉트박스 옵션</option>
                </select>
            </div>
            <!-- //성별 -->
            <h3 class="form-title accent">성별</h3>
            <div class="radio-wrap">
                <label class="input-radio"><input type="radio" name="Gender" checked><i></i>미선택</label>
                <label class="input-radio"><input type="radio" name="Gender"><i></i>여성</label>
                <label class="input-radio"><input type="radio" name="Gender"><i></i>남성</label>
            </div>
        </div>
        <!-- //수신동의 -->
        <div class="toggle-title active">
            <h2>수신동의</h2>
            <button type="button" class="toggle-arr"></button>
        </div>
        <div class="toggle-content accept-content">
            <div class="wrap">
                <h4>문자메시지 수신동의</h4>
                <ul class="dot-list">
                    <li>수신동의시 쇼핑몰에서 제공하는 이벤트 및 다양한 정보를 SMS(문자메시지)로 받아볼 수 있습니다.</li>
                    <li>회원가입, 거래정보-결제/배송/교환/환불 등과 같은 운영정보는 수신동의 여부와 관계없이 발송됩니다.</li>
                </ul>
                <div class="radio-wrap">
                    <label class="input-radio"><input type="radio" name="message" checked><i></i>수신동의</label>
                    <label class="input-radio"><input type="radio" name="message"><i></i>동의안함</label>
                </div>
            </div>
            <div class="wrap">
                <h4>이메일 수신동의</h4>
                <ul class="dot-list">
                    <li>수신동의시 쇼핑몰에서 제공하는 이벤트 및 다양한 정보를 E-mail(이메일)로 받아볼 수 있습니다.</li>
                    <li>회원가입, 거래정보-결제/배송/교환/환불 등과 같은 운영정보는 수신동의 여부와 관계없이 발송됩니다.</li>
                </ul>
                <div class="radio-wrap">
                    <label class="input-radio"><input type="radio" name="email" checked><i></i>수신동의</label>
                    <label class="input-radio"><input type="radio" name="email"><i></i>동의안함</label>
                </div>
            </div>
            <div class="wrap mobile"><!-- // mobile -->
                <h4>앱 푸쉬 수신동의</h4>
                <ul class="dot-list">
                    <li>다양한 특가상품과 개인 맞춤 이벤트 정보를 가장 빠르게 받아볼 수 있습니다.</li>
                </ul>
                <div class="radio-wrap">
                    <label class="input-radio"><input type="radio" name="appPush" checked><i></i>수신동의</label>
                    <label class="input-radio"><input type="radio" name="appPush"><i></i>동의안함</label>
                </div>
            </div>
        </div>
        <!-- //약관동의 -->
        <div class="toggle-title active">
            <h2>약관동의</h2>
            <button type="button" class="toggle-arr"></button>
        </div>
        <div class="toggle-content ">
            <ul class="terms-content">
                <li class="check-wrap whole-check">
                    <label class="circle-input-checkbox"><input type="checkbox"><i></i><p class="terms-title">모든 약관 동의</p></label>
                </li>
                <li class="check-wrap">
                    <label class="circle-input-checkbox"><input type="checkbox"><i></i><p class="terms-title">서비스 이용 약관 동의 <span>(선택)</span></p></label>
                    <div class="terms-list">
                        <a href="">약관보기</a>
                    </div>
                </li>
                <li class="check-wrap">
                    <label class="circle-input-checkbox"><input type="checkbox"><i></i><p class="terms-title">개인정보의 수집·이용목적 및 항목 동의 <em>(필수)</em></p></label>
                    <div class="terms-list">
                        <a href="">약관보기</a>
                    </div>
                </li>
                <li class="check-wrap">
                    <label class="circle-input-checkbox"><input type="checkbox"><i></i><p class="terms-title">개인정보의 수집·이용항목 목적 동의 <em>(필수)</em></p></label>
                    <div class="terms-list">
                        <a href="">약관보기</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- // 회원가입 -->
        <button type="button" class="btn btn-default btn-primary confirm-btn">회원가입</button>
    </form>
</div>

<script>
// toggle event ui sample
$(document).ready(function(){
	salesOnUI.toggleActive('.toggle-title');
});
</script>