<section class="result-container">
    <div>
        <h1 class="title-h1">'<em>인테리어</em>' 검색결과</h1>
        <div class="sort-wrap">
            <div class="all-items">총 <strong>123</strong>개 상품</div>
            <div class="sort-list">
                <div class="select-wrap">
                    <select class="input-select">
                        <option value="">인기순</option>
                        <option value="">저렴한 순</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- 아이템 영역 -->
        <div class="item-list-container vertical">
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- v-else -->
    <div class="no-result-content">
        <h1 class="title-h1">'<em>wkdlsldkjfjdls</em>' 검색결과</h1>
        <img src="/static/content/image/common/img_noResult.png" alt="검색 결과가 없습니다." class="result-img">
        <p class="result-text">검색 결과가 없습니다.</p>
        <span class="result-info">단어의 철자가 정확한지 확인해 보세요.<br />
            띄어쓰기 또는 넓은 의미의 단어를 사용해 보세요:D
        </span>
        <a href="javascript:;" class="btn btn-round btn-primary-line confirm-btn">메인으로</a>
    </div>
</section>