<div class="featured featured-pages">
    <h1 class="title-h1">이벤트</h1>
    <section class="container event-wrap">
        <!-- 타이틀 -->
        <div class="title-wrap">
            <p>
                <span class="date">[ 2023. 12. 11 ~ 2023. 12. 31 ]</span>
                <strong class="title">이벤트 타이틀 영역 입니다. </strong>
            </p>
            <button type="button" class="link-copy"></button>
        </div>
        <!-- 에디터 영역 -->
        <div class="content">
            에디터 HTML에 등록한<br />이미지 및 텍스트 영역
        </div>
        <!-- 내부 분류 셀렉트 -->
        <div class="select-wrap category-select">
            <div class="input-select">커스텀 셀렉트박스</div>
            <ul class="select-option hidden">
                <li><a href="#category01">기획전 내부 이벤트 분류 타이틀</a></li>
                <li><a href="#category02">기획전 내부 이벤트 분류 타이틀</a></li>
            </ul>
        </div>
        <!-- 내부 분류 01 -->
        <p class="event-category-title" id="category01">기획전 내부 이벤트 분류 타이틀 01</p>
        <!-- 아이템 리스트 -->
        <div class="item-list-container vertical">
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
            <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
            <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
        </div>
        <!-- 내부 분류 02 -->
        <p class="event-category-title" id="category02">기획전 내부 이벤트 분류 타이틀 02</p>
        <!-- 아이템 리스트 -->
        <div class="item-list-container vertical">
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-4">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container sold-out">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail-area">
                            <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                            <img class="center-center">
                        </div>
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                    <div class="tag-wrap">
                        <div class="tag new">신상품</div>
                        <div class="tag md">MD추천</div>
                        <div class="tag coupon">쿠폰</div>
                        <div class="tag delivery">무료배송</div>
                        <div class="tag best">베스트</div>
                        <div class="tag timesale">타임세일</div>
                        <div class="tag event">이벤트</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
            <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
            <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
        </div>
    </section>
    <!-- 사용자 -->
    <div class="reply-writing">
        <div class="container">
            <form action="">
                <h3 class="form-title">이벤트 참여 댓글쓰기</h3>
                <div class="form-line">
                    <textarea name="" id="" cols="30" rows="10" class="form-basic text-area"
                        placeholder="내용을 입력해주세요"></textarea>
                </div>
                <div class="link-wrap">
                    <button type="button" class="btn btn-primary link-item w-half" @click="registReply">등록</button>
                    <button type="button" class="btn btn-default link-item w-half">취소</button>
                </div>
            </form>
        </div>
    </div>
    <!-- 덧글리스트 -->
    <section class="container reply-wrap">
        <div class="sort-wrap">
            <p class="all-items">전체 <strong>123</strong>개</p>
        </div>
        <ul class="reply-list">
            <li class="list">
                <div class="reply-top">
                    <p class="user-info">
                        <span class="user-id">bda***</span>
                        <span class="divider"></span>
                        <span class="date">2023-12-13</span>
                    </p>
                    <button type="button" class="reply-report-btn"
                        @click="showReportModal = !showReportModal">신고/차단</button>
                </div>
                <p class="reply-content">
                    또 판매싶단 생각이 들어 이렇게 이벤트에 참여하게되었습니다.<br />
                    맛과 좋은가격으로 형성되어 있으면 제품을 교환해서 써보고 싶어요
                </p>
            </li>
            <li class="list">
                <div class="reply-top">
                    <p class="user-info">
                        <span class="user-id">min***</span>
                        <span class="divider"></span>
                        <span class="date">2023-12-13</span>
                    </p>
                    <button type="button" class="reply-report-btn"
                        @click="showReportModal = !showReportModal">신고/차단</button>
                </div>
                <p class="reply-content">
                    정말 맛있어요~ 고객들에게 인기도 좋고요!
                </p>
            </li>
        </ul>
        <div class="pagination">
            <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
            <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
            <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
        </div>
    </section>
    <!-- 모달 -->
    <div class="modal alert-modal modal-report" :class="{ 'show': showReportModal }">
        <div class="dimmed-bg"></div>
        <div class="modal-wrap">
            <button class="modal-close" @click="showReportModal = !showReportModal">닫기</button>
            <div class="modal-header">
                신고/차단
            </div>
            <div class="modal-body">
                <div class="btn-wrap gap">
                    <button type="button" class="btn btn-primary" @click="showReportDetailModal">후기 신고</button>
                    <button type="button" class="btn btn-default">회원차단</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-report detail" :class="{ 'show': reportDetailModal }">
        <div class="dimmed-bg"></div>
        <div class="modal-wrap">
            <button class="modal-close" @click="reportDetailModal = !reportDetailModal">닫기</button>
            <div class="modal-header">
                신고/차단
            </div>
            <div class="modal-body">
                <form action="">
                    <h3 class="form-title">신고사유</h3>
                    <div class="radio-wrap">
                        <label class="input-radio"><input type="radio" name="report-reason"
                                checked><i></i>영리목적/홍보성</label>
                        <label class="input-radio"><input type="radio" name="report-reason"><i></i>개인정보 노출 위험</label>
                        <label class="input-radio"><input type="radio" name="report-reason"><i></i>욕설/인신공격</label>
                        <label class="input-radio"><input type="radio" name="report-reason"><i></i>음란/선정성</label>
                        <label class="input-radio"><input type="radio" name="report-reason"><i></i>불법정보</label>
                        <label class="input-radio"><input type="radio" name="report-reason"><i></i>같은 내용 도배</label>
                        <label class="input-radio"><input type="radio" name="report-reason"><i></i>기타</label>
                    </div>
                    <h3 class="form-title">신고 상세사유</h3>
                    <div class="form-line">
                        <textarea name="" id="" cols="30" rows="10" class="form-basic text-area"
                            placeholder="신고하시는 상세이유를 입력해주세요 (최대 글자는 10,000자 입니다)"></textarea>
                    </div>
                    <div class="btn-wrap gap">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <button type="button" class="btn btn-default"
                            @click="reportDetailModal = !reportDetailModal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    salesOnUI.selectBox();
});
</script>