<section class="customer customer-notice">
    <div class="title-h1">고객센터</div>
    
    <div class="customer-tab">
        <a href="/customer/notice" class="link active"><span>공지사항</span></a> <!-- active 활성화 -->
        <a href="/customer/faq" class="link en"><span>FAQ</span></a>
        <a href="/customer/qna" class="link "><span>1:1문의</span></a>
        <a href="/customer/partner" class="link"><span>제휴/입점문의</span></a>
    </div>

    <ul class="board">
        <li class="list open">
            <div class="flex space-between">
                <p class="title-wrap">
                    <span class="label">공지</span>
                    <strong class="title">공지사항 제목입니다. </strong>
                </p>
                <span class="date">2023-12-13</span>
            </div>
            <a class="notice-link" href=""><img src="/static/content/image/ico/ico_rink.svg" alt="링크">외부링크가 노출되는 영역입니다.</a>
            <div class="content">
                <!-- 에디터 html에 등록한 이미지 텍스트 영역 -->
                <img src="/static/content/image/sample/no_content_720480.png" alt="">
                <br />
                <br />
                <p>공지사항 내용이 들어가는 부분입니다.
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 </p>
            </div>
        </li>
        <li class="list">
            <div class="flex space-between">
                <p class="title-wrap">
                    <strong class="title">공지사항 제목입니다. </strong>
                </p>
                <span class="date">2023-12-13</span>
            </div>
            <a class="notice-link" href=""><img src="/static/content/image/ico/ico_rink.svg" alt="링크">외부링크가 노출되는 영역입니다.</a>
            <div class="content">
                <!-- 에디터 html에 등록한 이미지 텍스트 영역 -->
               
                <p>공지사항 내용이 들어가는 부분입니다.
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 </p>
            </div>
        </li>
        <li class="list">
            <div class="flex space-between">
                <p class="title-wrap">
                    <strong class="title">공지사항 제목입니다. </strong>
                </p>
                <span class="date">2023-12-13</span>
            </div>
            <a class="notice-link" href=""><img src="/static/content/image/ico/ico_rink.svg" alt="링크">외부링크가 노출되는 영역입니다.</a>
            <div class="content">
                <!-- 에디터 html에 등록한 이미지 텍스트 영역 -->
                <img src="/static/content/image/sample/no_content_720480.png" alt="">
                <br />
                <br />
                <p>공지사항 내용이 들어가는 부분입니다.
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                    내용 내용 내용 내용 내용 내용 </p>
            </div>
        </li>
    </ul>
    <div class="pagination">
        <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
        <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
        <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
    </div>
</section>