<div class="featured featured-main">
    <h1 class="title-h1">이벤트</h1>
    <div class="container">
        <div class="sort-wrap">
            <div class="all-items">총 <strong>123</strong>개 상품</div>
            <!--
            <div class="sort-list">
                <div class="select-wrap">
                    <select class="input-select">
                        <option value="">인기순</option>
                        <option value="">셀렉트박스 옵션</option>
                    </select>
                </div>
            </div>
            -->
        </div>
        <ul class="event-list">
            <li class="event-item">
                <a href="/featured/_id">
                    <div class="event-thumbnail">
                        <span class="label progress">Event</span>
                        <div class="dimmed" style="display: none;"></div>
                        <img src="/static/content/image/sample/no_content_720480.png" alt="간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스">
                    </div>
                    <div class="event-info">
                        <strong class="title">간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스</strong>
                        <span class="sub" style="display: none;"></span> <!-- 내용 없을 시 display:none 처리 -->
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </a>
            </li>
            <li class="event-item">
                <a href="/featured/_id">
                    <div class="event-thumbnail">
                        <span class="label closed">종료</span>
                        <div class="dimmed"></div>
                        <img src="/static/content/image/sample/no_content.png" alt="당신이 사랑하는 카페, 한 여름날의 홈카페" srcset="">
                    </div>
                    <div class="event-info">
                        <strong class="title">당신이 사랑하는 카페, 한 여름날의 홈카페</strong>
                        <span class="sub">좋아하는 음악 한 곡을 틀어놓고, 좋아하는 잔을 선택해 기분에 어울리는 커피 한 잔</span>
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </a>
            </li>
            <li class="event-item">
                <a href="/featured/_id">
                    <div class="event-thumbnail">
                        <span class="label progress">Event</span>
                        <div class="dimmed" style="display: none;"></div>
                        <img src="/static/content/image/sample/sample_01.png" alt="간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스">
                    </div>
                    <div class="event-info">
                        <strong class="title">간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스</strong>
                        <span class="sub" style="display: none;"></span> <!-- 내용 없을 시 display:none 처리 -->
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </a>
            </li>
            <li class="event-item">
                <a href="/featured/_id">
                    <div class="event-thumbnail">
                        <span class="label closed">종료</span>
                        <div class="dimmed"></div>
                        <img src="/static/content/image/sample/sample_02.png" alt="간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스">
                    </div>
                    <div class="event-info">
                        <strong class="title">간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스</strong>
                        <span class="sub" style="display: none;"></span> <!-- 내용 없을 시 display:none 처리 -->
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pagination">
            <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
            <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
            <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
        </div>
    </div>
</div>