<nav class="quick-menu">
    <div class="toggle-area on">
        <a href="/mypage" class="menu ico-mypage"><span>마이페이지</span></a>
        <a href="/mypage/wishlist" class="menu ico-heart"><i class="number">1004</i><span>관심상품</span></a>
        <a href="/mypage/recent-view" class="menu ico-recent"><i>10</i><span>최근 본 상품</span></a>
        <a href="/customer/qna" class="menu ico-talk"><span>1:1문의</span></a>  
    </div>
    <button type="button" class="btn-toggle">접기</button>
</nav>

<button type="button" class="btn-top">TOP</button>
