<section class="flex space-between">
    <div class="col-left">
        <button type="button" class="btn-gnb">메뉴 열기</button>
        <button type="button" class="btn-back btn-history">
            <img src="/static/content/image/ico/ico_arr_back.svg" alt="뒤로가기">
        </button>
        <a href="/" class="brand"><img src="/static/content/image/common/brand.svg" alt="세일즈온"></a>

        <h1 class="title-h1-mobile">페이지 타이틀</h1>
    </div>

    <div class="col-right">
        <div class="searching-area">
            <form>
                <button type="button" class="btn-close"><img src="/static/content/image/ico/ico_arr_back.svg"
                        alt="뒤로가기"></button>
                <input type="search" placeholder="내 몸이 좋아하는 프레쉬한 한끼">
                <button type="button" class="btn-search mobile-search-open">모바일 검색창 열기</button>
                <button type="button" class="btn-search">검색</button>
            </form>
        </div>
        <ul class="util-menu">
            <li class="favorite">
                <a href="javascript:;">찜 상품</a>
            </li>
            <li class="mypage">
                <a href="mypage">마이페이지</a>
            </li>
            <li class="mycart">
                <a href="cart">장바구니 <span class="count">99</span></a>
            </li>
        </ul>
        <div class="searching-list hidden">
            <button type="button" class="delete-all">전체삭제</button>
            <div class="list list-popular">
                <p>인기검색어</p>
                <ol>
                    <li><em class="number">1</em><a href="/" class="text">순위01</a></li>
                    <li><em class="number">2</em><a href="/" class="text">순위02</a></li>
                    <li><em class="number">3</em><a href="/" class="text">순위03</a></li>
                    <li><em class="number">4</em><a href="/" class="text">순위04</a></li>
                    <li><em class="number">5</em><a href="/" class="text">순위05</a></li>
                    <li><em class="number">6</em><a href="/" class="text">순위06</a></li>
                    <li><em class="number">7</em><a href="/" class="text">순위07</a></li>
                    <li><em class="number">8</em><a href="/" class="text">순위08</a></li>
                    <li><em class="number">9</em><a href="/" class="text">순위09</a></li>
                    <li><em class="number">10</em><a href="/" class="text">순위10</a></li>
                </ol>
            </div>
            <div class="list list-recent">
                <p>최근 검색어</p>
                <ul>
                    <li><a href="/" class="text">검색어01</a><button class="delete"></button></li>
                    <li><a href="/" class="text">검색어02</a><button class="delete"></button></li>
                    <li><a href="/" class="text">검색어03</a><button class="delete"></button></li>
                    <li><a href="/" class="text">검색어04</a><button class="delete"></button></li>
                </ul>
            </div>
            <div class="list-footer"><button type="button" class="searching-list-close">닫기</button></div>
        </div>
    </div>
</section>

<section class="quick-link">
    <div class="link-area" ref="linkAreaSwiper">
        <div class="swiper-wrapper">
            <a href="/display/new" class="swiper-slide">신상품</a>
            <a href="/display/best" class="swiper-slide">베스트</a>
            <a href="/display/timedeal" class="swiper-slide">타임세일</a>
            <a href="/featured" class="swiper-slide">이벤트</a>
            <a href="mypage/review" class="swiper-slide">리뷰</a>
            <a href="javascript:;" class="swiper-slide">🗲자주구매</a>
            <a href="javascript:;" class="swiper-slide">전용몰</a>
        </div>
    </div>
    <div class="my-menu">
        <a href="javascript:;">주문배송</a>
        <a href="javascript:;">고객센터</a>
        <a href="javascript:;">로그인</a>
        <a href="javascript:;">로그아웃</a>
    </div>
</section>

<nav class="gnb">
    <section class="depth1">
        <div class="menu-item"><a href="javascript:;">가구/수납</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리1</a>
                        <div class="depth3">
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리1</a>

                                <div class="depth4">
                                    <div class="depth4-menu">
                                        <a href="javascript:;">4차 카테고리1</a>
                                    </div>
                                </div>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리2</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리3</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리4</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리5</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리6</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리7</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리8</a>
                            </div>
                            <div class="depth3-menu">
                                <a href="javascript:;">3차 카테고리9</a>
                            </div>
                        </div>

                    </li>
                    <li><a href="javascript:;">노트/메모</a>
                    </li>
                    <li><a href="javascript:;">데코/포장</a>
                    </li>
                    <li><a href="javascript:;">필기구</a>
                    </li>
                    <!--
                    <li><a href="javascript:;">필통/펜파우치</a>
                    </li>
                    <li><a href="javascript:;">데스크용품</a>
                    </li>
                    <li><a href="javascript:;">앨범/사진</a>
                    </li>
                    <li><a href="javascript:;">독서용품</a>                            
                    </li>
                    <li><a href="javascript:;">사무용품</a>
                    </li>
                    <li><a href="javascript:;">파일/바인더</a>
                    </li>
                    <li><a href="javascript:;">명함/사원증</a>
                    </li>
                    <li><a href="javascript:;">카드/편지</a>
                    </li>
                    <li><a href="javascript:;">미술용품</a>
                    </li>
                    <li><a href="javascript:;">캐쉬용품</a>
                    </li>-->
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">가전/생활</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">디자인문구</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">디지털</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">뷰티/헬스</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">여행/레포츠</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">유아동</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">인테리어</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">주방/푸드</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
        <div class="menu-item"><a href="javascript:;">펫샵</a>
            <div class="depth2">
                <ul>
                    <li><a href="javascript:;">2차 카테고리2</a>
                </ul>
            </div>
        </div>
    </section>
</nav>

<nav class="gnb type-2">
    <section class="depth1">
        <div class="menu-item"><a href="/guide" class="">
                가구/수납</a>
        </div>
        <div class="menu-item">
            <a href="/">가전/생활</a>
        </div>
        <div class="menu-item">
            <a href="/">디자인문구</a>
        </div>
        <div class="menu-item">
            <a href="/">디지털</a>
        </div>
        <div class="menu-item">
            <a href="/">뷰티/헬스</a>
        </div>
        <div class="menu-item">
            <a href="/">여행/레포츠</a>
        </div>
        <div class="menu-item">
            <a href="/">유아동</a>
        </div>
        <div class="menu-item">
            <a href="/">인테리어</a>
        </div>
        <div class="menu-item">
            <a href="/">주방/푸드</a>
        </div>
        <div class="menu-item">
            <a href="/">펫샵</a>
        </div>
    </section>
    <section class="depth2">
        <ul>
            <li>
                <a href="/">2차 카테고리1</a>
            </li>
            <li>
                <a href="/">노트/메모</a>
            </li>
            <li>
                <a href="/">플래너/컨셉북</a>
            </li>
            <li>
                <a href="/">데코/포장</a>
            </li>
            <li>
                <a href="/">필기구</a>
            </li>
            <li>
                <a href="/">필통/펜파우치</a>
            </li>
            <li>
                <a href="/">데스크용품</a>
            </li>
            <li>
                <a href="/">앨범/사진</a>
            </li>
            <li>
                <a href="/">독서용품</a>
            </li>
            <li>
                <a href="/">사무용품</a>
            </li>
            <li>
                <a href="/">파일/바인더</a>
            </li>
            <li>
                <a href="/">명함/사원증</a>
            </li>
            <li>
                <a href="/">카드/편지</a>
            </li>
            <li>
                <a href="/">미술용품</a>
            </li>
            <li>
                <a href="/">캐쉬용품</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리2</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리3</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리4</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리5</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리6</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리7</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리8</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리9</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/">2차 카테고리10</a>
            </li>
            <li>
                <a href="/">menu2</a>
            </li>
            <li>
                <a href="/">menu3</a>
            </li>
        </ul>
    </section>
</nav>

<script>
    $(document).ready(function () {
        //salesOnUI.mGnbSwiper().init(); // mobile gnb swiper init
    })
</script>