<div class="m-category-menu">
    <a class="m-category-menu-item m-category-open" href="javascript:;">메뉴</a>
    <a class="m-category-menu-item" href="javascript:;">즐겨찾기</a>
    <a class="m-category-menu-item" href="javascript:;">홈</a>
    <a class="m-category-menu-item" href="javascript:;">마이페이지</a>
    <a class="m-category-menu-item m-searching" href="javascript:;">검색</a>
</div>

<div class="m-gnb-wrap">
    <header>
        <button type="button" class="m-gnb-close">닫기</button>
        <div class="my-menu">
            <a href="javascript:;">로그인</a>
            <a href="javascript:;">로그아웃</a>
            <a href="javascript:;">마이페이지</a>
        </div>
    </header>

    <div class="m-gnb">
        <div class="depth1">
            <button class="menu-item">가구/수납</button>
            <button class="menu-item">가전/생활</button>
            <button class="menu-item">디자인문구</button>
            <button class="menu-item">디지털</button>
            <button class="menu-item">뷰티/헬스</button>
            <button class="menu-item">여행/레포츠</button>
            <button class="menu-item">유아동</button>
            <button class="menu-item">인테리어</button>
            <button class="menu-item">주방/푸드</button>
            <button class="menu-item">펫샵</button>
        </div>

        <div class="depth2">
            <ul>
                <li><button class="submenu-item">2차 카테고리1</button></li>
                <li><button class="submenu-item">노트/메모</button></li>
                <li><button class="submenu-item">플래너/컨셉북</button>
                    <div class="depth3">
                        <a href="javascript:;" class="thirdmenu-item">3차 카테고리</a>
                        <a href="javascript:;" class="thirdmenu-item">캐쉬북</a>
                        <a href="javascript:;" class="thirdmenu-item">티켓북</a>
                        <a href="javascript:;" class="thirdmenu-item">테마북</a>
                        <a href="javascript:;" class="thirdmenu-item">다이어트 플래너</a>
                        <a href="javascript:;" class="thirdmenu-item">트래블노트</a>
                        <a href="javascript:;" class="thirdmenu-item">단어장/오답노트</a>
                        <a href="javascript:;" class="thirdmenu-item">스티커북</a>
                    </div>
                </li>
                <li><button class="submenu-item">데코/포장</button></li>
                <li><button class="submenu-item">필기구</button></li>
                <li><button class="submenu-item">필통/펜파우치</button></li>
                <li><button class="submenu-item">데스크용품</button></li>
                <li><button class="submenu-item">앨범/사진</button></li>
                <li><button class="submenu-item">독서용품</button></li>
                <li><button class="submenu-item">사무용품</button></li>
                <li><button class="submenu-item">파일/바인더</button></li>
                <li><button class="submenu-item">명함/사원증</button></li>
                <li><button class="submenu-item">카드/편지</button></li>
                <li><button class="submenu-item">미술용품</button></li>
                <li><button class="submenu-item">캐쉬용품</button></li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리2</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리3</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리4</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리5</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리6</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리7</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리8</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리9</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
            <ul>
                <li><button class="submenu-item">2차 카테고리10</button>
                </li>
                <li><button class="submenu-item">menu2</button>
                </li>
                <li><button class="submenu-item">menu3</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="service-area">
        <h3 class="service-title">서비스</h3>
        <div class="flex">
            <a class="service-link" href="javascript:;">NEW</a>
            <a class="service-link" href="javascript:;">BEST</a>
            <a class="service-link" href="javascript:;">TIME SAEL</a>
            <a class="service-link" href="javascript:;">MD PICK</a>
            <a class="service-link" href="javascript:;">EVENT</a>
            <a class="service-link" href="javascript:;">REVIEW</a>
        </div>
    </div>

    <div class="footer">
        <h3 class="footer-title">고객 서비스 센터</h3>
        <a href="tel: 1599-7751" class="cs-tel">1599-7751</a>
        <ul class="cs-time">
            <li>상담시간. 평일 오전 8시 30분 ~ 오후 4시 30분 (주말, 공휴일 휴무)</li>
            <li>점심시간. 오후 12시 ~ 오후 1시</li>
        </ul>
    </div>

</div>