<section class="terms">
    <div class="title-h1">이용약관</div>
    <div class="terms-lnb">
        <a href="/terms/terms" class="link"><span>이용약관</span></a> <!-- active 활성화 -->
        <a href="/terms/policy" class="link en active"><span>개인정보<br class="mobile">처리방침</span></a>
        <a href="/terms/refuse-email" class="link"><span>이메일<br class="mobile">수신거부</span></a>
        <a href="/terms/marketing" class="link"><span>마케팅<br class="mobile">수신동의</span></a>
    </div>
    <div class="container">
        <div class="select-wrap">
            <form>
                <select class="input-select">
                    <option value="">ver.1</option>
                    <option value="">ver.2</option>
                </select>
            </form>
        </div>
        <div>
            관리자단에서 입력한 내용이 노출되는 영역입니다.
        </div>
    </div>
</section>