<div class="main">
    <!-- visual -->
    <div class="swiper main-visual pc"> <!-- type-carosel 클래스 추가 시 carosel -->
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:;"><img src="/static/content/image/_temp/main_visual01.png" alt=""></a>
                
            </div>
            <div class="swiper-slide">
                <a href="javascript:;"><img src="/static/content/image/_temp/main_visual02.png" alt=""></a>
                
            </div>
            <div class="swiper-slide">
                <a href="javascript:;"><img src="/static/content/image/_temp/main_visual03.png" alt=""></a>
                
            </div>
        </div>

        <div class="swiper-controls">
            <button class="swiper-prev">이전</button>
            <button class="swiper-next">다음</button>
        </div>

        <div class="main-swiper-pagination-wrap">
            <button class="btn-pause">swiper auto control</button>

            <div class="main-swiper-pagination"></div>
        </div>

    </div>

    <div class="swiper main-visual mobile">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:;"><img src="/static/content/image/_temp/m_main_visual01.png" alt=""></a>
                
            </div>
            <div class="swiper-slide">
                <a href="javascript:;"><img src="/static/content/image/_temp/m_main_visual02.png" alt=""></a>
                
            </div>
            <div class="swiper-slide">
                <a href="javascript:;"><img src="/static/content/image/_temp/m_main_visual03.png" alt=""></a>
                
            </div>
        </div>

        <div class="swiper-controls">
            <button class="swiper-prev">이전</button>
            <button class="swiper-next">다음</button>
        </div>

        <div class="main-swiper-pagination-wrap">
            <button class="btn-pause">swiper auto control</button>

            <div class="main-swiper-pagination"></div>
        </div>

    </div>

    

    <!-- 신상품 -->
    <div class="main-title-wrap">
        <a class="main-title" href="javascript:;">갓- 들어 온 신상품</a>
        <p>나오자마자 호감도 상승</p>
    </div>
    <section class="main-new-item-list">
        <ul>
            <li>
                <div class="thumb"><img src="/static/content/image/_temp/main_new_item01.png" alt=""></div>
                <div class="hover">
                    <div class="info">
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                        <a href="javascript:;">
                            <div class="goods-title">[브랜드명] 제품명이 노출되는 영역 50g X 2</div>
                            <div class="discounted">138,000원</div>
                            <div class="price-wrap">
                                <span class="price">
                                    <span>108,000</span>원
                                </span>
                                <span class="sale">27%</span>
                            </div>
                            </nuxtLink>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb"><img src="/static/content/image/_temp/main_new_item02.png" alt=""></div>
                <div class="hover">
                    <div class="info">
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                        <a href="javascript:;">
                            <div class="goods-title">[브랜드명] 제품명이 노출되는 영역 50g X 2</div>
                            <div class="discounted">138,000원</div>
                            <div class="price-wrap">
                                <span class="price">
                                    <span>108,000</span>원
                                </span>
                                <span class="sale">27%</span>
                            </div>
                            </nuxtLink>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb"><img src="/static/content/image/_temp/main_new_item03.png" alt=""></div>
                <div class="hover">
                    <div class="info">
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                        <a href="javascript:;">
                            <div class="goods-title">[브랜드명] 제품명이 노출되는 영역 50g X 2</div>
                            <div class="discounted">138,000원</div>
                            <div class="price-wrap">
                                <span class="price">
                                    <span>108,000</span>원
                                </span>
                                <span class="sale">27%</span>
                            </div>
                            </nuxtLink>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb"><img src="/static/content/image/_temp/main_new_item04.png" alt=""></div>
                <div class="hover">
                    <div class="info">
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                        <a href="javascript:;">
                            <div class="goods-title">[브랜드명] 제품명이 노출되는 영역 50g X 2</div>
                            <div class="discounted">138,000원</div>
                            <div class="price-wrap">
                                <span class="price">
                                    <span>108,000</span>원
                                </span>
                                <span class="sale">27%</span>
                            </div>
                            </nuxtLink>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb"><img src="/static/content/image/_temp/main_new_item05.png" alt=""></div>
                <div class="hover">
                    <div class="info">
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                        <a href="javascript:;">
                            <div class="goods-title">[브랜드명] 제품명이 노출되는 영역 50g X 2</div>
                            <div class="discounted">138,000원</div>
                            <div class="price-wrap">
                                <span class="price">
                                    <span>108,000</span>원
                                </span>
                                <span class="sale">27%</span>
                            </div>
                            </nuxtLink>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumb"><img src="/static/content/image/_temp/main_new_item06.png" alt=""></div>
                <div class="hover">
                    <div class="info">
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                        <a href="javascript:;">
                            <div class="goods-title">[브랜드명] 제품명이 노출되는 영역 50g X 2</div>
                            <div class="discounted">138,000원</div>
                            <div class="price-wrap">
                                <span class="price">
                                    <span>108,000</span>원
                                </span>
                                <span class="sale">27%</span>
                            </div>
                            </nuxtLink>
                    </div>
                </div>
            </li>
        </ul>
    </section>


    <!-- 타임세일 -->
    <div class="main-timesale-bg">
        <div class="main-timesale-area">
            <div class="main-title-wrap">
                <a class="main-title" href="javascript:;">찐 혜택 യ 타임세일</a>
                <p>이 순간만 할인하는 상품을 모았어요</p>
            </div>
            <section class="swiper-wrap">
                <div class="swiper main-timesale">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="thum">
                                <img src="/static/content/image/_temp/main_timesale01.png" alt="">
                            </div>
                            <div class="info-container">
                                <div class="time-area">
                                    <span class="day">99DAY</span>
                                    <span class="time">06 : 18 : 42</span>
                                </div>

                                <div class="title-main paragraph-ellipsis">
                                    <b>[브랜드명]</b>제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이
                                    노출되는 영역 50g X 2
                                </div>
                                <div class="discounted">
                                    <span>138,000</span>원
                                </div>
                                <div class="flex justify-between">
                                    <div class="price-wrap">
                                        <p class="price">
                                            <span>108,000</span>
                                            <span>원</span>
                                        </p>
                                        <p class="sale">
                                            27%
                                        </p>
                                    </div>
                                    <div class="user-action">
                                        <div class="user-ico user-attention">관심상품</div>
                                        <div class="user-ico user-basket">장바구니</div>
                                    </div>
                                </div>
                                <div class="tag-wrap type-underline">
                                    <div class="tag new">신상품</div>
                                    <div class="tag md">MD추천</div>
                                    <div class="tag coupon">쿠폰</div>
                                    <div class="tag delivery">무료배송</div>
                                    <div class="tag best">베스트</div>
                                    <div class="tag only">ONLY</div>
                                    <div class="tag salegoods">행사상품</div>
                                    <div class="tag timesale">타임세일</div>
                                    <div class="tag event">이벤트</div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="thum">
                                <img src="/static/content/image/_temp/main_timesale02.png" alt="">
                            </div>
                            <div class="info-container">
                                <div class="time-area">
                                    <span class="day">99DAY</span>
                                    <span class="time">06 : 18 : 42</span>
                                </div>

                                <div class="title-main paragraph-ellipsis">
                                    <b>[브랜드명]</b>제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이
                                    노출되는 영역 50g X 2
                                </div>
                                <div class="discounted">
                                    138,000원
                                </div>
                                <div class="flex justify-between">
                                    <div class="price-wrap">
                                        <p class="price">
                                            <span>108,000</span>
                                            <span>원</span>
                                        </p>
                                        <p class="sale">
                                            27%
                                        </p>
                                    </div>
                                    <div class="user-action">
                                        <div class="user-ico user-attention">관심상품</div>
                                        <div class="user-ico user-basket">장바구니</div>
                                    </div>
                                </div>
                                <div class="tag-wrap type-underline">
                                    <div class="tag new">신상품</div>
                                    <div class="tag md">MD추천</div>
                                    <div class="tag coupon">쿠폰</div>
                                    <div class="tag delivery">무료배송</div>
                                    <div class="tag best">베스트</div>
                                    <div class="tag only">ONLY</div>
                                    <div class="tag salegoods">행사상품</div>
                                    <div class="tag timesale">타임세일</div>
                                    <div class="tag event">이벤트</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timesale-swiper-pagination"></div>
                </div>
            </section>

            <div class="swiper-controls">
                <button class="swiper-prev">이전</button>
                <button class="swiper-next">다음</button>
            </div>

        </div>
    </div>


    <!-- 배너영역 -->
    <section class="main-ad-banner-area">
        <div class="flex">
            <a href="javascript:;" class="img-banner pc">
                <img src="/static/content/image/_temp/ad_banner_01.png" alt="">
            </a>
            <a href="javascript:;" class="img-banner pc">
                <img src="/static/content/image/_temp/ad_banner_02.png" alt="">
            </a>
            <a href="javascript:;" class="img-banner mobile">
                <img src="/static/content/image/_temp/ad_banner_01m.png" alt="">
            </a>
            <a href="javascript:;" class="img-banner mobile">
                <img src="/static/content/image/_temp/ad_banner_01m.png" alt="">
            </a>
            
        </div>
    </section>


    <!-- 베스트상품 -->
    <div class="main-title-wrap">
        <a class="main-title" href="javascript:;">핫해핫해~ 베스트상품</a>
        <p>BEST상품만 골라서 모았어요!</p>
    </div>
    <div class="main-bestitem-area">
        <section class="swiper-wrap">
            <div class="swiper main-bestitem">
                <div class="swiper-wrapper">
                    <div class="swiper-slide category-all on">ALL</div>
                    <div class="swiper-slide category1 swiper-slide-next">가구/수납</div>
                    <div class="swiper-slide category2">가전/생활</div>
                    <div class="swiper-slide category3">디자인문구</div>
                    <div class="swiper-slide category4">디지털</div>
                    <div class="swiper-slide category5">뷰티/헬스</div>
                    <div class="swiper-slide category6">여행/레포츠</div>
                    <div class="swiper-slide category7">유아동</div>
                    <div class="swiper-slide category8">인테리어</div>
                    <div class="swiper-slide category9">주방/푸드</div>
                    <div class="swiper-slide category10">키덜트/취미</div>
                    <div class="swiper-slide category11">패브릭</div>
                    <div class="swiper-slide category12">패션의류</div>
                    <div class="swiper-slide category13">패션잡화</div>
                    <div class="swiper-slide category14">펫샵</div>
                </div>

            </div>
        </section>

        <div class="swiper-controls">
            <button class="swiper-prev">이전</button>
            <button class="swiper-next">다음</button>
        </div>

        <section class="item-list-container">
            <div class="col-left">
                <div class="item-list">
                    <!-- 아이템 썸네일 영역 -->
                    <div class="thumbnail-container">
                        <div class="thumbnail-wrap">
                            <div class="rank best">01</div>
                            <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                        </div>
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                    </div>
                    <!-- 아이템 정보 영역 -->
                    <div class="info-container">
                        <div class="title-main paragraph-ellipsis">
                            [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                        </div>
                        <div class="title-sub paragraph-ellipsis">
                            서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀
                            서브 타이틀 서브
                            타이틀
                            서브
                            타이틀
                        </div>
                        <div class="discounted">
                            138,000원
                        </div>
                        <div class="price-wrap">
                            <p class="price">
                                <span>108,000</span>
                                <span>원</span>
                            </p>
                            <p class="sale">
                                27%
                            </p>
                        </div>
                        <div class="tag-wrap">
                            <div class="tag new">신상품</div>
                            <div class="tag md">MD추천</div>
                            <div class="tag coupon">쿠폰</div>
                            <div class="tag delivery">무료배송</div>
                            <div class="tag best">베스트</div>
                            <div class="tag timesale">타임세일</div>
                            <div class="tag event">이벤트</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-right">
                <div class="item-list">
                    <!-- 아이템 썸네일 영역 -->
                    <div class="thumbnail-container">
                        <div class="thumbnail-wrap">
                            <div class="rank">02</div>
                            <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                        </div>
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                    </div>
                    <!-- 아이템 정보 영역 -->
                    <div class="info-container">
                        <div class="title-main paragraph-ellipsis">
                            [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                        </div>
                        <div class="title-sub paragraph-ellipsis">
                            서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀
                            서브 타이틀 서브
                            타이틀
                            서브
                            타이틀
                        </div>
                        <div class="discounted">
                            138,000원
                        </div>
                        <div class="price-wrap">
                            <p class="price">
                                <span>108,000</span>
                                <span>원</span>
                            </p>
                            <p class="sale">
                                27%
                            </p>
                        </div>
                        <div class="tag-wrap">
                            <div class="tag new">신상품</div>
                            <div class="tag md">MD추천</div>
                            <div class="tag coupon">쿠폰</div>
                            <div class="tag delivery">무료배송</div>
                            <div class="tag best">베스트</div>
                            <div class="tag timesale">타임세일</div>
                            <div class="tag event">이벤트</div>
                        </div>
                    </div>
                </div>
                <div class="item-list">
                    <!-- 아이템 썸네일 영역 -->
                    <div class="thumbnail-container">
                        <div class="thumbnail-wrap">
                            <div class="rank">03</div>
                            <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                        </div>
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                    </div>
                    <!-- 아이템 정보 영역 -->
                    <div class="info-container">
                        <div class="title-main paragraph-ellipsis">
                            [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                        </div>
                        <div class="title-sub paragraph-ellipsis">
                            서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀
                            서브 타이틀 서브
                            타이틀
                            서브
                            타이틀
                        </div>
                        <div class="discounted">
                            138,000원
                        </div>
                        <div class="price-wrap">
                            <p class="price">
                                <span>108,000</span>
                                <span>원</span>
                            </p>
                            <p class="sale">
                                27%
                            </p>
                        </div>
                        <div class="tag-wrap">
                            <div class="tag new">신상품</div>
                            <div class="tag md">MD추천</div>
                            <div class="tag coupon">쿠폰</div>
                            <div class="tag delivery">무료배송</div>
                            <div class="tag best">베스트</div>
                            <div class="tag timesale">타임세일</div>
                            <div class="tag event">이벤트</div>
                        </div>
                    </div>
                </div>
                <div class="item-list">
                    <!-- 아이템 썸네일 영역 -->
                    <div class="thumbnail-container">
                        <div class="thumbnail-wrap">
                            <div class="rank">04</div>
                            <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                        </div>
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                    </div>
                    <!-- 아이템 정보 영역 -->
                    <div class="info-container">
                        <div class="title-main paragraph-ellipsis">
                            [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                        </div>
                        <div class="title-sub paragraph-ellipsis">
                            서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀
                            서브 타이틀 서브
                            타이틀
                            서브
                            타이틀
                        </div>
                        <div class="discounted">
                            138,000원
                        </div>
                        <div class="price-wrap">
                            <p class="price">
                                <span>108,000</span>
                                <span>원</span>
                            </p>
                            <p class="sale">
                                27%
                            </p>
                        </div>
                        <div class="tag-wrap">
                            <div class="tag new">신상품</div>
                            <div class="tag md">MD추천</div>
                            <div class="tag coupon">쿠폰</div>
                            <div class="tag delivery">무료배송</div>
                            <div class="tag best">베스트</div>
                            <div class="tag timesale">타임세일</div>
                            <div class="tag event">이벤트</div>
                        </div>
                    </div>
                </div>
                <div class="item-list">
                    <!-- 아이템 썸네일 영역 -->
                    <div class="thumbnail-container">
                        <div class="thumbnail-wrap">
                            <div class="rank">05</div>
                            <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                        </div>
                        <div class="user-action">
                            <div class="user-ico user-attention">관심상품</div>
                            <div class="user-ico user-basket">장바구니</div>
                        </div>
                    </div>
                    <!-- 아이템 정보 영역 -->
                    <div class="info-container">
                        <div class="title-main paragraph-ellipsis">
                            [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                        </div>
                        <div class="title-sub paragraph-ellipsis">
                            서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀
                            서브 타이틀 서브
                            타이틀
                            서브
                            타이틀
                        </div>
                        <div class="discounted">
                            138,000원
                        </div>
                        <div class="price-wrap">
                            <p class="price">
                                <span>108,000</span>
                                <span>원</span>
                            </p>
                            <p class="sale">
                                27%
                            </p>
                        </div>
                        <div class="tag-wrap">
                            <div class="tag new">신상품</div>
                            <div class="tag md">MD추천</div>
                            <div class="tag coupon">쿠폰</div>
                            <div class="tag delivery">무료배송</div>
                            <div class="tag best">베스트</div>
                            <div class="tag timesale">타임세일</div>
                            <div class="tag event">이벤트</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="btn-area">
            <button type="button" class="btn-more">더보기</button>  
        </div>
    </div>


    <!-- 브랜드 -->
    <div class="focus-brand-area">
        <section>
            <div class="main-title-wrap">
                <h2 class="main-title">관심 집중 브랜드ꕤ</h2>
                <p>세일즈온이 골라본 주목해야 할 브랜드</p>
            </div>
            <div class="swiper brand-list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="thum"><img src="/static/content/image/_temp/main_focus_brand01.png" alt=""></div>
                        <div class="text"> 로마네 </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thum"><img src="/static/content/image/_temp/main_focus_brand02.png" alt=""></div>
                        <div class="text"> 로마네 </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thum"><img src="/static/content/image/_temp/main_focus_brand03.png" alt=""></div>
                        <div class="text"> 로마네 </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thum"><img src="/static/content/image/_temp/main_focus_brand04.png" alt=""></div>
                        <div class="text"> 로마네 </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thum"><img src="/static/content/image/_temp/main_focus_brand05.png" alt=""></div>
                        <div class="text"> 로마네 </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thum"><img src="/static/content/image/_temp/main_focus_brand06.png" alt=""></div>
                        <div class="text"> 로마네 </div>
                    </div>
    
                </div>
            </div>

        </section>
    </div>


    <!-- banner -->
    <section class="ad-area">
        <a href="javascript:;">
            <img src="/static/content/image/_temp/ad_banner_03.png" alt="">
        </a>
    </section>


    <!-- recommend -->
    <div class="main-title-wrap">
        <a class="main-title" href="javascript:;">취향 단박에 캐치ఇ</a>
        <p>세일즈온에서 추천하는 제품들을 모았어요</p>
    </div>
    <section class="main-tabs">
        <div class="swiper-wrap">
            <div class="swiper main-tab-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="main-tabitem active" href="javascript:;">#클리어런스</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-tabitem" href="javascript:;">#스누지</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-tabitem" href="javascript:;">#디저트</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-tabitem" href="javascript:;">#리프레시</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-tabitem" href="javascript:;">#피크닉세트</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-tabitem" href="javascript:;">#스마트톡</a>
                    </div>
                    <div class="swiper-slide">
                        <a class="main-tabitem" href="javascript:;">#귀욤파우치</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main-tabcontent">
        <div class="item-list-container vertical">
            <div class="item-list item-list-5">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-5">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-5">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-5">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                </div>
            </div>
            <div class="item-list item-list-5">
                <!-- 아이템 썸네일 영역 -->
                <div class="thumbnail-container">
                    <div class="sold-out-wrap">
                        <span>
                            <img src="/static/content/image/sample/sold-out.png" alt="품절">
                        </span>
                    </div>
                    <div class="thumbnail-wrap">
                        <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                    </div>
                    <div class="user-action">
                        <div class="user-ico user-attention">관심상품</div>
                        <div class="user-ico user-basket">장바구니</div>
                    </div>
                </div>
                <!-- 아이템 정보 영역 -->
                <div class="info-container">
                    <div class="title-main paragraph-ellipsis">
                        [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                    </div>
                    <div class="title-sub paragraph-ellipsis">
                        서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                        타이틀 서브
                        타이틀
                        서브
                        타이틀
                    </div>
                    <div class="discounted">
                        138,000원
                    </div>
                    <div class="price-wrap">
                        <p class="price">
                            <span>108,000</span>
                            <span>원</span>
                        </p>
                        <p class="sale">
                            27%
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btn-area">
            <button type="button" class="btn-more">더보기</button>  
        </div>
    </div>


    <!-- review -->
    <div class="main-title-wrap">
        <a class="main-title" href="javascript:;">써 본 사람들의 진짜 리뷰</a>
        <p>세일즈온의 생생한 후기를 확인해보세요</p>
    </div>
    <section class="main-review-area">
        <!--
        <ul>
            <li>
                <div class="thum">
                    <img src="/static/content/image/_temp/img_review_sample01.png" alt="">
                </div>
                <div class="review">
                    <p>
                        쓰던 제품 추가로 구매했는데 배송이 빨라 너무 맘에 마음에 들어요! 색 너무 예뻐서 너무 만족스럽고불량아니라서 넘 좋고 잘 사용하겠습니다~
                    </p>
                    <div class="star-wrap">
                        <div class="star">
                            <i class="star5"></i>
                        </div>
                    </div>
                    <p class="text-ellipsis">
                        [아이카사] 카페 세트_얼그레이밀크
                    </p>                    
                </div>
            </li>
            <li>
                <div class="thum">
                    <img src="/static/content/image/_temp/img_review_sample01.png" alt="">
                </div>
                <div class="review">
                    <p>
                        3병을 구매해서 할머니, 엄마, 저까지 셋이서 2달 이상 써봤는데요. 처음에는 효과가 미미하다가 점점 피부 에 텐션이 생겼달까? 만지면 탱탱해진게 느껴지...
                    </p>
                    <div class="star-wrap">
                        <div class="star">
                            <i class="star4"></i>
                        </div>
                    </div>
                    <p class="text-ellipsis">
                        [더퓨어로터스] 제주 연꽃잎 브라이 제주 연꽃잎 브라이 
                    </p>
                </div>
            </li>
            <li>
                <div class="thum">
                    <img src="/static/content/image/sample/no_content_720480.png" alt="">
                </div>
                <div class="review">
                    <p>
                        3병을 구매해서 할머니, 엄마, 저까지 셋이서 2달 이상 써봤는데요. 처음에는 효과가 미미하다가 점점 피부 에 텐션이 생겼달까? 만지면 탱탱해진게 느껴지...
                    </p>
                    <div class="star-wrap">
                        <div class="star">
                            <i class="star4"></i>
                        </div>
                    </div>
                    <p class="text-ellipsis">
                        [더퓨어로터스] 제주 연꽃잎 브라이 제주 연꽃잎 브라이 
                    </p>
                </div>
            </li>
        </ul>
        -->

        <div class="swiper main-review-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="thum">
                        <img src="/static/content/image/_temp/img_review_sample01.png" alt="">
                    </div>
                    <div class="review">
                        <p>
                            쓰던 제품 추가로 구매했는데 배송이 빨라 너무 맘에 마음에 들어요! 색 너무 예뻐서 너무 만족스럽고불량아니라서 넘 좋고 잘 사용하겠습니다~
                        </p>
                        <div class="star-wrap">
                            <div class="star">
                                <i class="star5"></i>
                            </div>
                        </div>
                        <p class="text-ellipsis">
                            [아이카사] 카페 세트_얼그레이밀크
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="thum">
                        <img src="/static/content/image/_temp/img_review_sample01.png" alt="">
                    </div>
                    <div class="review">
                        <p>
                            3병을 구매해서 할머니, 엄마, 저까지 셋이서 2달 이상 써봤는데요. 처음에는 효과가 미미하다가 점점 피부 에 텐션이 생겼달까? 만지면 탱탱해진게 느껴지...
                        </p>
                        <div class="star-wrap">
                            <div class="star">
                                <i class="star4"></i>
                            </div>
                        </div>
                        <p class="text-ellipsis">
                            [더퓨어로터스] 제주 연꽃잎 브라이 제주 연꽃잎 브라이
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- event -->
    <div class="main-title-wrap">
        <a class="main-title" href="javascript:;">눈여겨볼 ᴥ 만한 기획전</a>
        <p>풍성한 이벤트를 만나보세요!</p>
    </div>
    <section class="event-list-wrap">
        <ul class="event-list">
            <li class="event-item"><a href="javascript:;"><img src="/static/content/image/_temp/event01.png" alt=""></a></li>
            <li class="event-item"><a href="javascript:;"><img src="/static/content/image/_temp/event02.png" alt=""></a></li>
            <li class="event-item"><a href="javascript:;"><img src="/static/content/image/_temp/event03.png" alt=""></a></li>
            <li class="event-item"><a href="javascript:;"><img src="/static/content/image/_temp/event04.png" alt=""></a></li>
        </ul>
        <!--
        <ul class="event-list">
            <li class="event-item">
                <nuxt-link to="/featured/pages/_id">
                    <div class="event-thumbnail">
                        <span class="label progress">Event</span>
                        <div class="dimmed" style="display: none;"></div>
                        <img src="/static/content/image/sample/sample_01.png" alt="간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스">
                    </div>
                    <div class="event-info">
                        <strong class="title">간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스</strong>
                        <span class="sub" style="display: none;"></span> 내용 없을 시 display:none 처리
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </nuxt-link>
            </li>
            <li class="event-item">
                <nuxt-link to="/featured/pages/_id">
                    <div class="event-thumbnail">
                        <span class="label progress">종료</span>
                        <div class="dimmed" style="display: none;"></div>
                        <img src="/static/content/image/sample/sample_02.png" alt="간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스">
                    </div>
                    <div class="event-info">
                        <strong class="title">간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스</strong>
                        <span class="sub" style="display: none;"></span> 
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </nuxt-link>
            </li>
            <li class="event-item">
                <nuxt-link to="/featured/pages/_id">
                    <div class="event-thumbnail">
                        <span class="label progress">Event</span>
                        <div class="dimmed" style="display: none;"></div>
                        <img src="/static/content/image/sample/no_content_720480.png" alt="간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스">
                    </div>
                    <div class="event-info">
                        <strong class="title">간편하게 하나로 완성하는 스타일, 미쏘 썸머드레스</strong>
                        <span class="sub" style="display: none;"></span> 
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </nuxt-link>
            </li>
            <li class="event-item">
                <nuxt-link to="/featured/pages/_id">
                    <div class="event-thumbnail">
                        <span class="label progress">Event</span>
                        <div class="dimmed" style="display: none;"></div>
                        <img src="/static/content/image/sample/no_content.png" alt="당신이 사랑하는 카페, 한 여름날의 홈카페" srcset="">
                    </div>
                    <div class="event-info">
                        <strong class="title">당신이 사랑하는 카페, 한 여름날의 홈카페</strong>
                        <span class="sub">좋아하는 음악 한 곡을 틀어놓고, 좋아하는 잔을 선택해 기분에 어울리는 커피 한 잔</span>
                        <span class="date">2023.06.04 ~ 2023.06.30</span>
                    </div>
                </nuxt-link>
            </li>
        </ul>
    -->
    </section>

</div>

<script>
    $(document).ready(function () {
        // visual swiper
        salesOnUI.mainVisualSwiper();

        // time area swiper
        salesOnUI.mainTimeSwiper();
        
        // best area swiper
        salesOnUI.mainbestItemSwiper();

        // time area swiper
        salesOnUI.mainBrandSwiper();

        // tab area swiper
        salesOnUI.mainTabSwiper();
        
        // review area swiper
        salesOnUI.mainReviewSwiper();

    });
</script>