<link rel="stylesheet" href="/static/content/css/guide.css">
<div class="guide-subtabs">
    <a type="button" href="guide-layout" class="tab-item">layout</a>
    <a type="button" href="guide-form" class="tab-item">form</a>
    <a type="button" href="guide-button" class="tab-item active">button</a>
    <a type="button" href="guide-text" class="tab-item">text</a>
    <a type="button" href="guide-item" class="tab-item">item</a>
    <a type="button" href="guide-modal" class="tab-item">modal</a>
    <a type="button" href="guide-color" class="tab-item">color</a>
</div>

<div class="guide-components">
    <section class="guide-content">
    
        <h2>버튼</h2>
    
        <h3>버튼 사이즈(높이)</h3>
        <button type="button" class="btn btn-default btn-large">btn-large</button>
        <br><br>
        <button type="button" class="btn btn-default"> 기본 4.8rem </button>
        <br><br>
        <button type="button" class="btn btn-default btn-middle">btn-middle</button>
        <br><br>
        <button type="button" class="btn btn-default btn-small">btn-small</button>
        <br><br>
    
        <h3>버튼 색상</h3>
        <button type="button" class="btn btn-default">Default</button>
        <br><br>
        <button type="button" class="btn btn-default-line">Default line</button>
        <br><br>
        <button type="button" class="btn btn-primary">Primary color</button>
        <br><br>
        <button type="button" class="btn btn-primary-line">Primary line color</button>
        <br><br>
        <button type="button" class="btn btn-second">Second color</button>
        <br><br>
        <button type="button" class="btn btn-primary-line">Second line color</button>
        <br><br>
        <button type="button" class="btn btn-black">Black color</button>
        <br><br>
        <button type="button" class="btn btn-black2">Black2 color</button>
        <br><br>
        <button type="button" class="btn btn-danger">red color</button>
        <br><br>
    
        <h3>버튼 모양</h3>
        <button type="button" class="btn btn-round btn-large btn-primary-line">round</button>
        <br><br>
    
        <h3>버튼 wrap</h3>
        <div class="btn-wrap">
            <button type="button" class="btn btn-primary">Basic</button>
            <button type="button" class="btn btn-default">Basic</button>
        </div>
        <br><br>
        <h3>버튼 wrap gap</h3>
        <div class="btn-wrap gap">
            <button type="button" class="btn btn-primary">Basic</button>
            <button type="button" class="btn btn-default">Basic</button>
        </div>
        <br><br>
    
    </section>

</div>