<link rel="stylesheet" href="/static/content/css/guide.css">
<div class="guide-subtabs">
    <a type="button" href="guide-layout" class="tab-item">layout</a>
    <a type="button" href="guide-form" class="tab-item">form</a>
    <a type="button" href="guide-button" class="tab-item">button</a>
    <a type="button" href="guide-text" class="tab-item">text</a>
    <a type="button" href="guide-item" class="tab-item">item</a>
    <a type="button" href="guide-modal" class="tab-item">modal</a>
    <a type="button" href="guide-color" class="tab-item active">color</a>
</div>

<div class="guide-components">
    <div class="guide-content">
        <h2>컬러</h2>
    
        <h3>버튼 사이즈</h3>
        <p>
            공통 컬러는 SCSS 변수로 설정.
        </p>
    
        <ul class="guide-color-list">
            <li class="primaryColor">
                $primaryColor: #8559ee;
            </li>
            <li class="secondColor">
                $secondColor: #7f6dfc;
            </li>
            <li class="redColor">
                $redColor: #ff5454;
            </li>
            <li class="lineColor">
                $lineColor: #d9d9d9;
            </li>
            <li class="lineColor2">
                $lineColor2: #e8e8e8;
            </li>
            <li class="bgTabColor">
                <p></p>
                <div class="tabs">
                    <a class="tab-item active">$primaryColor: #8559ee</a>
                    <a class="tab-item">$bgTabColor: #fafafa;</a>
                </div>
            </li>
            <li class="blackColor">
                $blackColor: #000;
            </li>
            <li class="blackColor2">
                $blackColor2: #1f1f1f;
            </li>
            <li class="whiteColor">
                $whiteColor: #fff;
            </li>
            <li class="fontSubColor">
                $fontSubColor: #7c7e80;
            </li>
            <li class="fontLightColor">
                $fontLightColor: #cfcfcf;
            </li>
            <li class="fontColor">
                $fontColor: #9f9f9f;
            </li>
            <li class="fontColor2">
                $fontColor2: #333;
            </li>
            <li class="buttonColor">
                <button type="button" class="btn btn-default">$buttonColor: #707070;</button>
                
            </li>
            <li class="buttonFontColor">
                <button type="button" class="btn btn-default">$buttonColor: #1f1f1f;</button>
            </li>
            <li class="checkboxColor">
                <label class="checkbox"><input type="checkbox"><i></i></label>
                <label class="circle-checkbox"><input type="checkbox"><i></i></label>
                $checkboxColor: #ddd;<br>
                active color = 
            </li>
        </ul>
    
    </div>

</div>