<link rel="stylesheet" href="/static/content/css/guide.css">
<section>
    <h1 class="title">가이드 페이지</h1>

    <div class="guide-subtabs">
        <a type="button" href="" class="tab-item">layout</a>
        <a type="button" href="" class="tab-item">form</a>
        <a type="button" href="guide-button" class="tab-item">button</a>
        <a type="button" href="" class="tab-item">text</a>
        <a type="button" href="" class="tab-item">item</a>
        <a type="button" href="" class="tab-item">modal</a>
        <a type="button" href="" class="tab-item">color</a>
    </div>

    <div class="guide-components">
        가이드 페이지
    </div>
</section>