<section class="mypage-point">
    <div class="title-container">
        <h2 class="title-h2">포인트</h2>
    </div>
    <div class="m-line-divider">
        <div class="useable-point-box">
            <p>사용가능 포인트<em>9,999,999P</em></p>
        </div>
    </div>
    <!-- // 활성화 -->
    <div class="tabs">
        <a class="tab-item active">사용 가능</a>
        <a class="tab-item">사용 완료</a>
    </div>
    <div class="tabs-content">
        <div class="period-container">
            <label class="date"><input type="date" class="form-basic"><i></i></label>
            <span class="divider">~</span>
            <label class="date"><input type="date" class="form-basic"><i></i></label>
            <div class="form-line box">
                <div class="flex">
                    <div class="select-wrap">
                        <select class="input-select">
                            <option value="">조회기간</option>
                            <option value="">옵션</option>
                        </select>
                    </div>
                    <button class="btn btn-black">조회</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-content hidden">
        <div class="select-wrap">
            <div class="flex">
                <select class="input-select">
                    <option value="">조회 기간을 설정하세요</option>
                    <option value="">셀렉트박스 옵션</option>
                </select>
                <button class="btn btn-form">조회</button>
            </div>
        </div>
        <p class="all-items">총 <strong>1,392</strong>개</p>
        <ul class="point-list">
            <li class="list">
                <p class="title">
                    <strong>리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다 </strong>
                    <span class="point used">-3,000P</span>
                </p>
                <p class="info">
                    <span class="sub">사용일</span>
                    <span>2023-08-25</span>
                </p>
            </li>
            <li class="list">
                <p class="title">
                    <strong>리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다 </strong>
                    <span class="point used">-3,000P</span>
                </p>
                <p class="info">
                    <span class="sub">사용일</span>
                    <span>2023-08-25</span>
                </p>
            </li>
            <li class="list">
                <p class="title">
                    <strong>리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다 </strong>
                    <span class="point used">-3,000P</span>
                </p>
                <p class="info">
                    <span class="sub">사용일</span>
                    <span>2023-08-25</span>
                </p>
            </li>
        </ul>
        <!-- 포인트 발행 내역 -->
        <!-- 페이징 -->
        <div class="pagination">
            <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
            <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
            <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
            <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
        </div>
    </div>
    <ul class="dot-list large-dot">
        <li>조회기간 설정 시, 최근 1년까지의 적립 내역이 제공됩니다.</li>
        <li>한번에 조회 가능한 최대 기간은 6개월 입니다.</li>
    </ul>
    <p class="all-items">총 <strong>1,392</strong>개</p>
    <ul class="point-list">
        <li class="list">
            <p class="title">
                <strong>리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다 </strong>
                <span class="point">+3,000P</span>
            </p>
            <p class="info">
                <span class="sub">잔여포인트</span>
                <span>3,500P</span>
            </p>
            <p class="info">
                <span class="sub">적립일</span>
                <span>2023-05-25</span>
            </p>
            <p class="info">
                <span class="sub">소멸예정일</span>
                <span>2023-08-25</span>
            </p>
        </li>
        <li class="list">
            <p class="title">
                <strong>리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다 </strong>
                <span class="point">+3,000P</span>
            </p>
            <p class="info">
                <span class="sub">잔여포인트</span>
                <span>3,500P</span>
            </p>
            <p class="info">
                <span class="sub">적립일</span>
                <span>2023-05-25</span>
            </p>
            <p class="info">
                <span class="sub">소멸예정일</span>
                <span>2023-08-25</span>
            </p>
        </li>
        <li class="list">
            <p class="title">
                <strong>리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다리뷰 인증 포인트가 적립되었습니다 리뷰 인증 포인트가 적립되었습니다 </strong>
                <span class="point">+3,000P</span>
            </p>
            <p class="info">
                <span class="sub">잔여포인트</span>
                <span>3,500P</span>
            </p>
            <p class="info">
                <span class="sub">적립일</span>
                <span>2023-05-25</span>
            </p>
            <p class="info">
                <span class="sub">소멸예정일</span>
                <span>2023-08-25</span>
            </p>
        </li>
    </ul>
    <!-- 포인트 발행 내역 -->
    <!-- 페이징 -->
    <div class="pagination">
        <a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
        <a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
        <a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
        <a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
    </div>

</section>

<script>
    $(document).ready(function(){
        // tab ui sample
        salesOnUI.tabs();
    });
</script>