<section class="mypage-favorite">
    <div class="title-container">
        <h2 class="title-h2">관심상품</h2>
    </div>
    <!-- // 상품 영역 -->
    <div class="check-wrap m-line-divider">
        <label class="circle-input-checkbox"><input type="checkbox"><i></i>전체선택(N개)</label>
        <div class="btn btn-default btn-action">선택삭제</div>
    </div>
    <div class="item-list-container vertical">
        <div class="item-list item-list-3">
            <!-- 체크박스 -->
            <label class="checkbox"><input type="checkbox"><i></i></label>
            <!-- 아이템 썸네일 영역 -->
            <div class="thumbnail-container sold-out">
                <div class="sold-out-wrap">
                    <span>
                        <img src="/static/content/image/sample/sold-out.png" alt="품절">
                    </span>
                </div>
                <div class="thumbnail-wrap">
                    <div class="thumbnail-area">
                        <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="center-center">
                    </div>
                    <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                </div>
                <div class="user-action">
                    <div class="user-ico user-attention">관심상품</div>
                    <div class="user-ico user-basket">장바구니</div>
                </div>
            </div>
            <!-- 아이템 정보 영역 -->
            <div class="info-container">
                <div class="title-main paragraph-ellipsis">
                    [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                </div>
                <div class="title-sub paragraph-ellipsis">
                    서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                    타이틀
                    서브
                    타이틀
                </div>
                <div class="discounted">
                    138,000원
                </div>
                <div class="price-wrap">
                    <p class="price">
                        <span>108,000</span>
                        <span>원</span>
                    </p>
                    <p class="sale">
                        27%
                    </p>
                </div>
                <div class="tag-wrap">
                    <div class="tag new">신상품</div>
                    <div class="tag md">MD추천</div>
                    <div class="tag coupon">쿠폰</div>
                    <div class="tag delivery">무료배송</div>
                    <div class="tag best">베스트</div>
                    <div class="tag timesale">타임세일</div>
                    <div class="tag event">이벤트</div>
                </div>
            </div>
        </div>
        <div class="item-list item-list-3">
            <!-- 체크박스 -->
            <label class="checkbox"><input type="checkbox"><i></i></label>
            <!-- 아이템 썸네일 영역 -->
            <div class="thumbnail-container sold-out">
                <div class="sold-out-wrap">
                    <span>
                        <img src="/static/content/image/sample/sold-out.png" alt="품절">
                    </span>
                </div>
                <div class="thumbnail-wrap">
                    <div class="thumbnail-area">
                        <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="center-center">
                    </div>
                    <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                </div>
                <div class="user-action">
                    <div class="user-ico user-attention">관심상품</div>
                    <div class="user-ico user-basket">장바구니</div>
                </div>
            </div>
            <!-- 아이템 정보 영역 -->
            <div class="info-container">
                <div class="title-main paragraph-ellipsis">
                    [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                </div>
                <div class="title-sub paragraph-ellipsis">
                    서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                    타이틀
                    서브
                    타이틀
                </div>
                <div class="discounted">
                    138,000원
                </div>
                <div class="price-wrap">
                    <p class="price">
                        <span>108,000</span>
                        <span>원</span>
                    </p>
                    <p class="sale">
                        27%
                    </p>
                </div>
                <div class="tag-wrap">
                    <div class="tag new">신상품</div>
                    <div class="tag md">MD추천</div>
                    <div class="tag coupon">쿠폰</div>
                    <div class="tag delivery">무료배송</div>
                    <div class="tag best">베스트</div>
                    <div class="tag timesale">타임세일</div>
                    <div class="tag event">이벤트</div>
                </div>
            </div>
        </div>
        <div class="item-list item-list-3">
            <!-- 체크박스 -->
            <label class="checkbox"><input type="checkbox"><i></i></label>
            <!-- 아이템 썸네일 영역 -->
            <div class="thumbnail-container sold-out">
                <div class="sold-out-wrap">
                    <span>
                        <img src="/static/content/image/sample/sold-out.png" alt="품절">
                    </span>
                </div>
                <div class="thumbnail-wrap">
                    <div class="thumbnail-area">
                        <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="center-center">
                    </div>
                    <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                </div>
                <div class="user-action">
                    <div class="user-ico user-attention">관심상품</div>
                    <div class="user-ico user-basket">장바구니</div>
                </div>
            </div>
            <!-- 아이템 정보 영역 -->
            <div class="info-container">
                <div class="title-main paragraph-ellipsis">
                    [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                </div>
                <div class="title-sub paragraph-ellipsis">
                    서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                    타이틀
                    서브
                    타이틀
                </div>
                <div class="discounted">
                    138,000원
                </div>
                <div class="price-wrap">
                    <p class="price">
                        <span>108,000</span>
                        <span>원</span>
                    </p>
                    <p class="sale">
                        27%
                    </p>
                </div>
                <div class="tag-wrap">
                    <div class="tag new">신상품</div>
                    <div class="tag md">MD추천</div>
                    <div class="tag coupon">쿠폰</div>
                    <div class="tag delivery">무료배송</div>
                    <div class="tag best">베스트</div>
                    <div class="tag timesale">타임세일</div>
                    <div class="tag event">이벤트</div>
                </div>
            </div>
        </div>
        <div class="item-list item-list-3">
            <!-- 체크박스 -->
            <label class="checkbox"><input type="checkbox"><i></i></label>
            <!-- 아이템 썸네일 영역 -->
            <div class="thumbnail-container sold-out">
                <div class="sold-out-wrap">
                    <span>
                        <img src="/static/content/image/sample/sold-out.png" alt="품절">
                    </span>
                </div>
                <div class="thumbnail-wrap">
                    <div class="thumbnail-area">
                        <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="center-center">
                    </div>
                    <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                </div>
                <div class="user-action">
                    <div class="user-ico user-attention">관심상품</div>
                    <div class="user-ico user-basket">장바구니</div>
                </div>
            </div>
            <!-- 아이템 정보 영역 -->
            <div class="info-container">
                <div class="title-main paragraph-ellipsis">
                    [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                </div>
                <div class="title-sub paragraph-ellipsis">
                    서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                    타이틀
                    서브
                    타이틀
                </div>
                <div class="discounted">
                    138,000원
                </div>
                <div class="price-wrap">
                    <p class="price">
                        <span>108,000</span>
                        <span>원</span>
                    </p>
                    <p class="sale">
                        27%
                    </p>
                </div>
                <div class="tag-wrap">
                    <div class="tag new">신상품</div>
                    <div class="tag md">MD추천</div>
                    <div class="tag coupon">쿠폰</div>
                    <div class="tag delivery">무료배송</div>
                    <div class="tag best">베스트</div>
                    <div class="tag timesale">타임세일</div>
                    <div class="tag event">이벤트</div>
                </div>
            </div>
        </div>
        <div class="item-list item-list-3">
            <!-- 체크박스 -->
            <label class="checkbox"><input type="checkbox"><i></i></label>
            <!-- 아이템 썸네일 영역 -->
            <div class="thumbnail-container sold-out">
                <div class="sold-out-wrap">
                    <span>
                        <img src="/static/content/image/sample/sold-out.png" alt="품절">
                    </span>
                </div>
                <div class="thumbnail-wrap">
                    <div class="thumbnail-area">
                        <img class="top-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="top-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-left" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="bottom-right" src="/static/content/image/sample/thum_area.png" alt="플로팅이미지" />
                        <img class="center-center">
                    </div>
                    <img class="thumbnail" src="/static/content/image/sample/thum.png" alt="썸네일">
                </div>
                <div class="user-action">
                    <div class="user-ico user-attention">관심상품</div>
                    <div class="user-ico user-basket">장바구니</div>
                </div>
            </div>
            <!-- 아이템 정보 영역 -->
            <div class="info-container">
                <div class="title-main paragraph-ellipsis">
                    [브랜드명] 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2 제품명이 노출되는 영역 50g X 2
                </div>
                <div class="title-sub paragraph-ellipsis">
                    서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브 타이틀 서브
                    타이틀
                    서브
                    타이틀
                </div>
                <div class="discounted">
                    138,000원
                </div>
                <div class="price-wrap">
                    <p class="price">
                        <span>108,000</span>
                        <span>원</span>
                    </p>
                    <p class="sale">
                        27%
                    </p>
                </div>
                <div class="tag-wrap">
                    <div class="tag new">신상품</div>
                    <div class="tag md">MD추천</div>
                    <div class="tag coupon">쿠폰</div>
                    <div class="tag delivery">무료배송</div>
                    <div class="tag best">베스트</div>
                    <div class="tag timesale">타임세일</div>
                    <div class="tag event">이벤트</div>
                </div>
            </div>
        </div>
    </div>
    <!-- // 페이징 -->
		<div class="pagination">
			<a href="javascript:;" class="page-item"><span class="page-prev">이전페이지</span></a>
			<a href="javascript:;" class="page-item active"><span class="page-link">1</span></a>
			<a href="javascript:;" class="page-item"><span class="page-link">2</span></a>
			<a href="javascript:;" class="page-item"><span class="page-link">3</span></a>
			<a href="javascript:;" class="page-item"><span class="page-link">4</span></a>
			<a href="javascript:;" class="page-item"><span class="page-link">5</span></a>
			<a href="javascript:;" class="page-item"><span class="page-next">이전페이지</span></a>
		</div>
</section>